@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --background2: #333333;
  --foreground: #F2F2F2;
  --primary: #4EA8DE;
  --secondary: #8284FA;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-geist-inter);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;

  line-height: 1.4;
  letter-spacing: 0;
}

@layer utilities {
  .null {
    @apply text-[#808080];
  }

  .button {
    @apply cursor-pointer;
  }
}

