@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --background2: #333333;
  --foreground: #F2F2F2;
  --primary: #4EA8DE;
  --secondary: #8284FA;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-geist-inter);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;

  line-height: 1.4;
  letter-spacing: 0;
}

@layer utilities {
  .null {
    @apply text-[#808080] opacity-70;
  }

  .button {
    @apply cursor-pointer text-foreground/70 hover:text-foreground/80 hover:text-lg transition-all ease-in-out duration-500;
  }

  .form-label {
    @apply mb-1 block text-sm font-medium text-primary cursor-pointer;
  }

  .form-input {
    @apply w-full rounded border border-foreground/10 bg-[#262626] px-3 py-2 outline-none focus:ring-2 focus:ring-primary/50
  }
}

